.container {
	padding: 30px 40px 28px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	position: relative;
}

.header_left {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo > img {
	width: 70px;
	height: 70px;
}

.header_left > img,
.discount,
.nav_menu,
.header_right img {
	cursor: pointer;
}

.header_center {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
}

.discount {
	width: 151px;
	height: 32px;
	background-color: var(--green);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text_white);
	font-size: 16px;
	font-weight: 500;
}

.nav_menu {
	display: flex;
	gap: 32px;
	list-style: none;
	font-size: 20px;
	font-weight: 500;
}

.nav_menu a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.nav_menu a:hover {
	transform: scale(1.05);
	transition: 0.5s ease;
}

.nav_menu a:active {
	text-decoration: none;
	color: var(--green);
}

.header_right {
	display: flex;
	align-items: center;
	gap: 24px;
}

.burger {
	display: none;
}

.modal_menu {
	position: fixed;
	display: none;
	right: -282px;
	top: 0;
	height: 100%;
	width: 282px;
	transition: right 0.3s ease-in-out;
	z-index: 100;
	background-color: var(--white);
}

.cross {
	font-size: 22px;
	display: none;
}

@media (max-width: 1000px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.logo > img {
		height: 68px;
		width: 68px;
	}
	.nav_menu {
		gap: 24px;
	}
	.header_right {
		gap: 11px;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 35px 20px 30px 20px;
	}
	.logo > img {
		height: 68px;
		width: 68px;
	}
	.nav_menu {
		gap: 20px;
		font-size: 16px;
	}
	.header_left {
		gap: 16px;
	}
	.header_right {
		gap: 11px;
	}
	.header_center {
		gap: 10px;
	}
}

@media (max-width: 480px) {
	.container {
		padding: 12px 20px;
	}

	.modal_menu.active {
		right: 0;
		display: block;
		padding: 100px 20px 20px 32px;
	}

	.cross.active {
		display: block;
		position: absolute;
		top: 11px;
		right: 11px;
		cursor: pointer;
	}

	.logo > img {
		height: 44px;
		width: 44px;
	}

	.discount,
	.nav_menu {
		display: none;
	}

	.nav_menu.active,
	.discount.active {
		display: block;
	}

	.nav_menu.active {
		display: flex;
		flex-direction: column;
		gap: 36px;
		margin-bottom: 42px;
	}

	.discount.active {
		width: 211px;
		height: 42px;
		font-size: 24px;
		font-weight: 500;
		display: grid;
		place-items: center;
	}
	.nav_menu.active li {
		font-size: 24px;
		font-weight: 500;
	}

	.header_right {
		gap: 12px;
	}
	.header_right img {
		height: 32px;
		width: 32px;
	}
	.shopping_cart {
		margin-right: 8px;
	}
	.burger {
		display: block;
		font-size: 44px;
		cursor: pointer;
	}
}

@media (max-width: 340px) {
	.logo > img {
		height: 44px;
		width: 44px;
	}
}
