
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.content_line {
	max-width: 1360px;
	margin-left: auto;
	margin-right: auto;
}

.categories {
	display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
  }
  

.line {
	flex: 1; 
	height: 1px;
	background-color: #dddddd;
	margin: 0 0 0 32px;

	}

.my_button {
	width: 142px;
	height: 36px;
	border-radius: 6px;
	background-color: transparent;
	border: 1px solid #dddddd;
	color: var(--grey);
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.wrapper {
	max-width: 1360px;
	height: 528px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
}

.header h2 {
	font-weight: 700;
	font-size: 64px;
}

.categoryList {
	width: 1360px;
	/* height: 418px; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
	/* display: flex;
	justify-content: space-between; */
}

.categoryList a {
	text-decoration: none;
	color: var(--text_black);
}
.categoryItem {
	text-align: center;


  }
  
  .categoryImage {

	width: 316px;
	height: 350px;
	object-fit: cover;
	background-position: center;
	border-radius: 10px;
	/* display: block; */
}

.categoryItem p {
	/* font-family: 'Montserrat', sans-s erif; */
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 500;
	margin-top: 10px;
	font-size: 20px;
}
