
.categories {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 80px;
	margin-bottom: 60px;   
	 /*transition: all 0.3s ease;*/

}

.line {
	flex: 1;
	height: 1px;
	background-color: var(--grey_divider);
	margin: 0 0 0 32px;
}

.my_button {
	font-family: 'Montserrat', sans-serif;
	width: 142px;
	height: 36px;
	border-radius: 6px;
	background-color: transparent;
	border: 1px solid var(--grey_divider);
	color: var(--grey);
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.wrapper {
	max-width: 1440px;
	height: 528px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
}

.header h2 {
	font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
	font-size: 64px;
	color: var(--text_black);
}

.categoryList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
	/* display: flex;
	justify-content: space-between; */
}

.categoryList a {
	text-decoration: none;
	color: var(--text_black);
}
.categoryItem {
	/*text-align: center;*/
}

.categoryImage {
	width: 316px;
	height: 350px;
	object-fit: cover;
	background-position: center;
	border-radius: 10px;
	
}

.categoryItem p {
	font-family: 'Montserrat', sans-serif; 
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 500;
	margin-top: 10px;
	font-size: 20px;
}

@media (max-width: 1000px) {
	.categoryImage {
		width: 225px;
		height: 250px;
	}
    
	.header h2 {
		font-size: 64px;
	}

	.my_button {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
    .categories {
		margin-bottom: 225px;
	}

    .categoryList {
		grid-template-columns: repeat(2, 1fr); /* Две колонки */
		gap: 16px; 
	}
   
	.categoryImage {
		width: 354px;
		height: 250px; 
		
	}

	.header h2 {
		font-size: 56px; 
	}

	.my_button {
		width: 142px;
		height: 36px;
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.categoryImage {
		width: 210px;
		height: 254px;
	}
	.header h2 {
		font-size: 48px; 
	}
	.my_button {
		width: 129px;
		height: 34px;
		font-size: 16px;
	}
}

@media (max-width: 360px) {

	.categories {
		margin-bottom: 685px;
	}
    .categoryList {
		grid-template-columns: 1fr; /* Одна колонка */
		gap: 16px; 
	}

    .categoryImage {
		width: 320px;
		height: 220px;
	}
	.header {
		display: flex;
	justify-content: space-between;
	align-items: center;
	
	}
	.header h2 {
		width: 320px;
		text-align: left;
		margin: 0;/*align-self: center;*/
		font-size: 40px; 
		
	}
	.my_button {
		display: block;
		width: 145px;
		height: 42px;
		font-size: 14px;
		
	}
	
}


/*


	 
	
*/