@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.categories {
	padding: 20px;
	margin: 80px 40px;
  }
  
  .wrapper {
	max-width: 1360px;
	margin: 0 auto;
  }
  
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;
  }
  
 .header h2 {

	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 64px;
	margin: 0;
 }
  
  .categoryList {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .categoryItem {
	
	text-align: center;
	margin: 10px;
  }
  
  .categoryImage {
	width: 316px;
	height: 350px;
	
	
	display: block;
	margin: 0 auto;
  }
  
  .categoryItem p {
	margin-top: 10px;
	font-size: 20px;
  }


  .line {
	display: inline-block;
	width: 825px; 
	flex: 1; /* Растягиваем линию на всю доступную ширину */

	height: 1px; 
	background-color: #DDDDDD; 
	margin: 0 0 0 32px;  }
  
  .my_button {
	width: 142px;
	height: 36px;

	font-weight: 500;
	padding: 10px 20px;
	color:  #8B8B8B;
	font-size: 16px;
	cursor: pointer;
	border: 2px solid #DDDDDD;
	text-align: center;
	border-radius: 5px;

  }

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
max-width: 100px;
.categories {
	font-family: "Montserrat", sans-serif;
	
    width: 1360px;
	height: 418px;
	
}
.categories img {
	
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
    
	
}
*/

/*


.categories {
	font-family: "Montserrat", sans-serif;
    width: 1360px;
	height: 528px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	
}
.categories img {
	width: 316px;
	height: 350px;
	display: flex;
	justify-content: center;

	
  }*/

