.discount_user_form {
	max-width: 1360px;
	height: 486px;
	text-align: center;
	background-image: url('../../../../assets/img/discountform1.png');
	border-radius: 10px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	color: var(--text_white);
}

.discount_user_form h2 {
	color: var(--text_white);
	letter-spacing: 1px;
}

.first_order {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 32px 32px 24px 32px;
	font-size: 64px;
	color: var(--text_white);
	display: flex;
	justify-content: center;
}

.form {
	width: 1296px;
	height: 388px;
	margin: 0px 32px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-end;
}

.input,
.submitButton {
	width: 516px;
	height: 58px;
	border: 1px solid var(--white);
	padding: 16px;
	margin: 5px auto;
	color: var(--text_white);
	font-size: 20px;
	border-radius: 5px;
	background: transparent;
	outline: none;
	cursor: pointer;
}

input::placeholder {
	font-size: 20px;
	font-weight: 500;
	color: var(--text_white); /* Цвет текста placeholder */
}

.input.error {
	border-color: var(--white);
}

.errorMessage {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: var(--text_white);
	font-size: 16px;
	text-align: right;
	width: 53%; /* Ensure error message takes up full width */
	margin: 5px auto;
	min-height: 20px; /* Add this to ensure space for error message */
}

.successMessage {
	width: 49%;
	color: var(--text_white);
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-top: 10px;
}

.submitButton {
	background-color: var(--white);
	font-family: 'Montserrat', sans-serif;
	border: none;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
	color: var(--text_black);
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
}

.submitButton:hover {
	background-color: #e0e0e0;
}
