* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Стили для блока скидки */
.discount_user_form {

	max-width: 1360px;
	height: 486px;
	text-align: center;
	background-image: url('../../../../assets/img/discountform1.png');
   
	border-radius: 10px;
	margin-top: 80px; 
	margin-left: auto;
	margin-right: auto;
    
	display: flex;
	flex-direction: column;
}
   /* Стили для заголовка */
  .discount_user_form h2 {
	margin: 32px 32px 32px 24px;
    font-size: 64px;
	color: white;
	display: flex; 
    justify-content: center;
}
  /* Стили для формы */
  .discount_user_form form {
	width: 516px;
	height: 296px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 300px;
	margin: 0 auto;
	border-radius: 10px;
}
  
 /* Стили для полей ввода */
  .discount_user_form input, .discount_user_form button {
	width: 516px;
    height: 58px;
	Border: 1px;
    Padding: 16px, 32px, 16px, 32px;
    Gap: 10px;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
}
  
  /* Стили для кнопки */
  .discount_user_form button {
	background-color: white;
	color: black;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
  }
  


