.all_products_container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.nav_buttons {
	display: flex;
	align-items: center;
}

.first_button {
	width: 118px;
	height: 36px;
	border: 1px solid var(--grey_divider);
	border-radius: 6px;
	background-color: transparent;
	font-size: 16px;
	color: var(--text_grey);
	cursor: pointer;
}

.nav_line {
	width: 16px;
	height: 1px;
	background-color: var(--grey_divider);
}

.second_button {
	width: 118px;
	height: 36px;
	border: 1px solid var(--grey_divider);
	border-radius: 6px;
	background-color: transparent;
	font-size: 16px;
	color: var(--text_black);
	cursor: pointer;
}

h1 {
	font-size: 64px;
	font-weight: bold;
	color: var(--text_black);
}

.cards_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
	gap: 32px;
}

.cards_container a {
	text-decoration: none;
}

.line {
	display: none;
}
@media (max-width: 1000px) {
	/* .discount_wrapper {
		padding: 0 20px;
	} */
	.cards_container {
		grid-template-columns: repeat(auto-fill, minmax(calc(20% - 5px), 1fr));
		gap: 20px;
	}
}
@media (max-width: 768px) {
	.cards_container {
		grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
	}
	.component_header h1 {
		font-size: 56px;
	}
	.card {
		width: 354px;
		height: 372px;
	}
	.product_picture {
		width: 352px;
		height: 250px;
	}
}
@media (max-width: 480px) {
	.cards_container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* grid-template-rows: repeat(2, 1fr); */
		gap: 20px;
	}

	.component_header h1 {
		font-size: 48px;
	}
	.card {
		width: 210px;
		height: 358px;
	}
	.product_picture {
		width: 208px;
		height: 220px;
	}
	.product_description h3 {
		font-size: 18px;
	}
	.product_description h2 {
		font-size: 36px;
	}
	.product_description h5 {
		font-size: 18px;
	}
	.component_header button {
		width: 89px;
		height: 34px;
		font-size: 14px;
	}
}

@media (max-width: 360px) {
	.sale_container {
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.cards_container {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.card {
		width: 100%;
		/* height: 335px; */
	}
	.product_picture {
		width: 318px;
	}
	.line,
	.component_header button {
		display: none;
	}
	.component_header h1 {
		width: 320px;
		text-align: left;
		margin: 0;
		font-size: 40px;
	}
	.button_340 {
		display: block;
		width: 105px;
		height: 42px;
		border-radius: 6px;
		background-color: transparent;
		border: 1px solid var(--grey_divider);
		color: var(--grey);
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
		margin-top: 4px;
	}
}
