.not_found_wrapper {
	width: 760px;
	height: 530px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.not_found_wrapper img {
	width: 690px;
	height: 270px;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.content h1 {
	font-size: 64px;
	font-weight: bold;
	color: var(--text_black);
}

.content p {
	max-width: 570px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.3;
	color: var(--text_grey);
	text-align: center;
}

.content a {
	width: 210px;
	height: 60px;
	background-color: var(--green);
	border-radius: 6px;
	padding: 16px 56px;
	font-size: 20px;
	font-weight: 600;
	color: var(--text_white);
	text-decoration: none;
	margin-top: 16px;
}
