.not_found_wrapper {
	width: 760px;
	height: 530px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.not_found_wrapper img {
	width: 690px;
	height: 270px;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.content h1 {
	font-size: 64px;
	font-weight: bold;
	color: var(--text_black);
}

.content p {
	max-width: 570px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.3;
	color: var(--text_grey);
	text-align: center;
}

.content a {
	width: 210px;
	/* height: 60px; */
	background-color: var(--green);
	border-radius: 6px;
	padding: 16px 26px;
	font-size: 20px;
	font-weight: 600;
	color: var(--text_white);
	text-decoration: none;
	margin-top: 16px;
	text-align: center;
}
@media (max-width: 1000px) {
	.not_found_wrapper {
		width: 640px;
		height: 480px;
	}
	.not_found_wrapper img {
		width: 580px;
		height: 240px;
	}
	.content h1 {
		font-size: 56px;
	}
	.content p {
		font-size: 18px;
	}
	.content a {
		width: 180px;
		/* height: 50px; */
		font-size: 18px;
		text-wrap: nowrap;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.not_found_wrapper {
		width: 520px;
		height: 400px;
	}
	.not_found_wrapper img {
		width: 460px;
		height: 200px;
	}
	.content h1 {
		font-size: 48px;
	}
	.content p {
		font-size: 16px;
	}
	.content a {
		width: 160px;
		/* height: 44px; */
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.not_found_wrapper {
		width: 400px;
		height: 320px;
	}
	.not_found_wrapper img {
		width: 340px;
		height: 160px;
	}
	.content h1 {
		font-size: 40px;
	}
	.content p {
		font-size: 14px;
	}
	.content a {
		width: 140px;
		/* height: 40px; */
		font-size: 14px;
	}
}

@media (max-width: 360px) {
	.not_found_wrapper {
		width: 320px;
		height: 260px;
	}
	.not_found_wrapper img {
		width: 280px;
		height: 130px;
	}
	.content h1 {
		max-width: 190px;
		font-size: 32px;
		text-align: center;
	}
	.content p {
		font-size: 18px;
	}
	.content a {
		width: 120px;
		/* height: 36px; */
		font-size: 18px;
		padding: 12px 40px;
	}
}
