* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 60px;
	height: 32px;
	border-radius: 30px;
	position: relative;
	z-index: 1;
}
.circle {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.5s ease-in-out;
	z-index: 3;
}

.circle.light {
	left: 2px;
	/* right: auto; */
}

.circle.dark {
	/* left: auto; */
	/* right: 2px; */
	left: calc(100% - 30px);
	background-color: grey;
}

.space_elements {
	display: flex;
	gap: 10px;
	position: absolute;
	left: 6px;
	top: 6px;
}

.sun {
	color: grey;
	width: 20px;
	height: 20px;
	z-index: 2;
}
.moon {
	width: 20px;
	height: 20px;
	color: white;
	z-index: 2;
}

@media (max-width: 768px) {
	.container {
		width: 52.5px;
		height: 28px;
		border-radius: 26.25px;
	}
	.circle {
		width: 24.5px;
		height: 24.5px;
		top: 1.75px;
		left: 1.75px;
	}
	.circle.light {
		left: 1.75px;
	}
	.space_elements {
		left: 5.25px;
		top: 5.25px;
	}
	.moon {
		width: 17.5px;
		height: 17.5px;
	}
	.sun {
		width: 17.5px;
		height: 17.5px;
	}
}
