 
.content_line {
	max-width: 1360px;
	margin-left: auto;
	margin-right: auto;
}


.mainPageButton, .categoriesButton {
    width: 120px;
    height: 36px;
    margin: 18px;
}

.all_categories_button1 {
    width: 205px;
    height: 36px;
}

.categoryImage {
	width: 316px;
	height: 284px;
	border-radius: 10px;
	display: block;
	
  }
 
  .categoryItem p {
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
	margin-top: 10px;
	font-size: 20px;
  }

  .categoryList {
	width: 1360px;
	height: 418px;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  

/*

.categories {
	
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 108px;
	padding: 20px;
	margin: 80px 40px;
  }
  
.line {
	flex: 1; 
	background-color: #dddddd;
	margin: 0 0 0 32px; }
  



 .header h2 {

	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 64px;

 }
  

  .categoryItem {
	
	text-align: center;
	margin: 10px;
  }
  */