.modal {

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  }

  .modalContent {
    background-color: var(--green); 
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px; 
    max-height: 550px; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: none;  

  }
  .like-icon {
    position: absolute; /* Абсолютное позиционирование */
    top: 90px; /* Расположение сверху */
    right: 25px; /* Расположение справа */
    cursor: pointer; /* Указатель при наведении */
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white; /* Цвет крестика */
    font-size: 24px;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #555;
  }

  .product_picture {
    width: 100%; 
    height: 200px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;







  }

  .priceWrapper {

    display: flex;
	align-items: last baseline;
	gap: 16px;
  margin-top: 10px;
  }

  .discountPrice {

    font-size: 40px;

	font-weight: 600;

	color: var(--text_black);
<<<<<<< HEAD
  }

  .originalPrice {

    font-size: 20px;
=======
}

.originalPrice {
	font-size: 20px;
>>>>>>> origin/sprint4/diana
	font-weight: 500;

	color: var(--grey);
	text-decoration: line-through;
<<<<<<< HEAD
  }

  .addToCartWrapper {
   background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 20px;  
    margin-bottom: 10px;  


  }

  .addToCart {
    /*padding: 10px 20px; 
=======
}

.addToCartWrapper {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.addToCart {
	/*padding: 10px 20px; 
>>>>>>> origin/sprint4/diana
    background-color: var(--white); 
    color: var(--black); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;*/
	/*padding: 10px 20px; */
	background-color: var(--white);
	border: none;
	border-radius: 5px;
	color: var(--text_black);
	font-size: 15px;
	font-weight: bold;
	font-family: 'Montserrat';
	cursor: pointer;

  }

  .addToCart:hover {
    /*background-color: var(--white); */
    background-color: white;
	transform: translateY(2px);
  }

  .modalHeader {
    width: 100%;
    text-align: left;
    font-size: 10px;
    color: white; /* Белый цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
  }

  .modalHeader h2 {
    margin: 0;
    font-size: 25px; /* Размер шрифта */
  }

  .discountBadge {

  width: 68px;

	height: 34px;
	border-radius: 6px;
	background-color: var(--sale);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text_white);
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3%;

  }

  .productDetails {
    background-color: white; 
    border-radius: 10px; 
    padding: 10px; 
    width: 100%; 
    text-align: left; 
    margin-bottom: 10px; 

  }

  .productDetails h2 {
    font-size: 20px; /* Размер шрифта для названия товара */
    color: var(--black); /* Черный цвет текста */
    margin: 10px 0; /* Отступы */
  }

