* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.sale_container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 108px;
}

.component_header {
	display: flex;
	align-items: center;
}
.component_header button {
	width: 97px;
	height: 36px;
	border-radius: 6px;
	background-color: transparent;
	border: 1px solid #dddddd;
	color: grey;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
h1 {
	font-size: 64px;
	font-weight: bold;
}
.line {
	flex: 1; /* Растягиваем линию на всю доступную ширину */
	height: 1px;
	background-color: #dddddd;
	margin: 0 0 0 32px;
}

.cards_container {
	display: flex;
	justify-content: space-between;
	/* gap: 32px; */
}

.card {
	width: 316px;
	height: 422px;
	background-color: white;
	display: flex;
	flex-direction: column;
	border: 1px solid #dddddd;
	border-radius: 12px;
	cursor: pointer;
}

.product_picture {
	width: 314px;
	height: 284px;
	display: flex;
	justify-content: space-between;
	padding: 16px 16px 0 17px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px solid #dddddd;
	background-size: cover;
	background-position: center;
}

.product_description {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 20px 32px 32px 32px;
}

.product_description h3 {
	font-size: 20px;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap; /* Запрещаем перенос строки */
	text-overflow: ellipsis; /* Добавляем троеточие */
}

.discount_size {
	width: 68px;
	height: 34px;
	border-radius: 6px;
	background-color: #f26d22;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3%;
}

.like_cart {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.like_cart img {
	cursor: pointer;
}

.price {
	display: flex;
	align-items: last baseline;
	gap: 16px;
}

.price h2 {
	font-size: 40px;
	font-weight: 600;
}

.price h5 {
	font-size: 20px;
	font-weight: 500;
	color: grey;
	text-decoration: line-through;
}
.button_340 {
	display: none;
}

@media (max-width: 1000px) {
	/* .cards_container {
		gap: 20px;
	} */
	.sale_container {
		padding: 0 20px;
	}
	.card {
		width: 225px;
		height: 398px;
	}
	.product_picture {
		width: 223px;
		height: 250px;
	}
	.product_description {
		padding: 20px;
		gap: 12px;
	}
	.price {
		gap: 12px;
	}
}

@media (max-width: 768px) {
	.cards_container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;
	}
	.component_header h1 {
		font-size: 56px;
	}
	.card {
		width: 354px;
		height: 372px;
	}
	.product_picture {
		width: 352px;
		height: 250px;
	}
}
@media (max-width: 480px) {
	.component_header h1 {
		font-size: 48px;
	}
	.card {
		width: 210px;
		height: 358px;
	}
	.product_picture {
		width: 208px;
		height: 220px;
	}
	.product_description h3 {
		font-size: 18px;
	}
	.product_description h2 {
		font-size: 36px;
	}
	.product_description h5 {
		font-size: 18px;
	}
	.component_header button {
		width: 89px;
		height: 34px;
		font-size: 14px;
	}
}

@media (max-width: 360px) {
	.sale_container {
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.cards_container {
		display: flex;
		flex-direction: column;
	}
	.card {
		width: 320px;
		height: 335px;
	}
	.product_picture {
		width: 318px;
	}
	.line,
	.component_header button {
		display: none;
	}
	.component_header h1 {
		width: 320px;
		text-align: left;
		margin: 0;
		font-size: 40px;
	}
	.button_340 {
		display: block;
		width: 105px;
		height: 42px;
		border-radius: 6px;
		background-color: transparent;
		border: 1px solid #dddddd;
		color: grey;
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
		margin-top: 4px;
	}
}
