/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} */

body {
	background-color: var(--white);
}

.container {
	/* max-width: 1440px;
	margin-left: auto;
	margin-right: auto; */
	/* display: flex;
	flex-direction: column;
	gap: 80px; */
}
